@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root{
    --bg-color : #fef9f8; /*cream*/
    --link-color: #ef9273; /*Peach*/
    --text-color: #0d0d0d; /*Char-coal*/
    --alt-color: #fde5dd;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    background: var(--bg-color);
    
}

span{
    color: var(--link-color);
}

.landing{
    margin-left: 25%;
    margin-top: 10%;

    
    
}
.landing h2{
    margin-left: 10%;
}

.landing .entry .landing-heading{
    margin-left: 10%;
}

.landing .entry form label{
    margin-left: 0.5rem;
}

.landing .entry form input{
    width: 40%;
    height: 2rem;
    border-radius: 1rem;
    margin: 0.3rem;
    padding: 0.3rem;
    border: 2px solid;
    border-color: var(--link-color);
    outline: none;
    font-family: 'Quicksand', sans-serif;
    
}

.landing .entry form input:hover{
    border-color: palevioletred;
}

.landing .entry form button{
    width: 25%;
    color: var(--text-color);
    font-size: 1rem;
    background-color: var(--link-color);
    height: 2rem;
    border-radius: 1rem;
    margin: 0.3rem;
    margin-left: 8%;
    border: 2px solid;
    border-color: var(--link-color);
    cursor: pointer;
    margin-bottom: 0.5rem;
    cursor: pointer;
    
}

.landing a{
    text-decoration: none;
    color: var(--text-color);
    padding-top: 0.5rem;
}

.landing .ref{
    margin-left: 8%;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--alt-color);  
    
}

header .logo{
    margin-left: 0.5rem;
}

header .navbar{
    margin-right: 10%;
    
}
header .navbar a{
    text-decoration: none;
    color: var(--text-color);
    margin: 0 1rem;
    font-weight: 570;
    font-size: 1.1rem;
    padding: 0.5rem;
}

header .navbar a:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 1.5rem;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(empty-hallway-background.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(17rem,auto)); */
    align-items: centre;
    gap: 2rem;
    padding: 2rem;
    padding-left: 3rem;

}

 
text{
    fill:var(--link-color);
    font-family: 'Luckiest Guy', cursive;

}
.hero{
    justify-content: center;
    text-align: center;
}
.hero .content{
    /* border: solid; */
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem 0 2rem;
    margin-bottom: 0.5rem;
}
.hero .content h1{
    color: var(--link-color);
}

.hero .content h2{
    color: var(--bg-color);
    
}
.hero .friends{
  
    /* border: solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
}

.hero .friends .list{
    border: solid;
    border-radius: 1.5rem;
    border-color: palevioletred;
    margin: 0.5rem;
}

.hero .friends .list .box h2{
    color:var(--alt-color);
}

.hero .friends .list .box h3{
    color:var(--bg-color);
    /* font-family: 'Luckiest Guy', cursive; */
}
 
.hero .friends .list .box button{
    width: 25%;
    color: var(--text-color);
    font-size: 1rem;
    background-color: var(--link-color);
    height: 2rem;
    border-radius: 1rem;
    margin: 0.3rem;
    border: 2px solid;
    border-color: var(--link-color);
    cursor: pointer;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.feed .name{
    justify-content: center;
    text-align: center;
}

.text .name{
    justify-content: center;
    text-align: center;
}

.feed .entries{
    border: solid;
    border-radius: 1.5rem;
    border-color: palevioletred;
    margin: 1.5rem;
}
.feed .entries .main{
    width: 100%;
    display: grid;
    grid-template-columns: 20rem 1fr;

}
.feed .entries .main .info{
    text-align: center;
}
.feed .entries .main img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}
.feed .entries .main .cont h3{
    margin-bottom: 1.5rem;
    color:var(--link-color)

}
.feed .entries .main .info h3{
    margin-bottom: 0.5rem;
    color:var(--link-color)
}

.profile{
    justify-content: center;
    text-align: center;
   
    border-radius: 1rem; 
    height: 30rem;
    width: 20rem;
    margin-left: 30%;
    margin-top: 2.5rem;
    background: var(--link-color);
}
.profile .content{
  
    justify-content: center;
    text-align: center;
    padding: 0.1rem 2rem 0 2rem;
    margin-bottom: 0.5rem;
    margin: 0.3rem;
}

.profile img{
    margin: 0.5rem;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.profile .mode{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,auto));
}

.profile .mode button{
    
    color: var(--text-color);
    background-color: var(--alt-color);
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    margin: 0.3rem;
    border: 2px solid;
    border-color: var(--link-color);
    cursor: pointer;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.text .entries{
    border: solid;
    border-radius: 1.5rem;
    border-color: palevioletred;
    margin: 1.5rem;
}

.text .entries textarea{
    width: 100%;
    border: none;
    border-radius: 1.5rem;
    outline: none;
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
}
.text button{
    color: var(--text-color);
    background-color: var(--alt-color);
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    margin: 0.3rem;
    margin-left: 1.5rem;
    border: 2px solid;
    border-color: var(--link-color);
    cursor: pointer;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.feed .entries .main .cont button{
    color: var(--text-color);
    background-color: var(--alt-color);
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-left: 1.5rem;
    border: 2px solid;
    border-color: var(--link-color);
    cursor: pointer;
    margin-bottom: 0.5rem;
    cursor: pointer;
}









